@charset "utf-8";

/*公用*/
.middleWidth {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

/*top bar*/
.topBar {
    background-color: #F7F7F7;
    height: 31px;
    line-height: 31px;
}

.topBar a:hover {
    color: red;
}

.collection {
    background: url("../img/icon/star.png") left center no-repeat;
    padding-left: 19px;
}

/*中间蓝色部分*/
.searchLayout {
    background-color: #1D7AD9;
    height: 73px;
}

.searchLayout .middleWidth {
    height: 73px;
}

.logoLayout {
    height: 73px;
    padding-top: 11px;
    padding-left: 41px;
}

.searchBox {
    width: 430px;
    padding-top: 23px;
    margin-left: 185px;
}

.searchText {
    width: 350px;
    height: 35px;
    padding: 0 5px;
    background-color: white;
    line-height: 35px \9;
    /* \9 代表所有的ie 浏览器*/
}

.searchButton {
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
    background-color: #FF8C00;
    color: #FFFFFF;
}

/**
购物车
 */
.shopCar {

    margin-top: 23px;
    width: 145px;
    margin-right: 59px;
    height: 35px;
    background-color: #FF8c00;
}

/**
购物车 三个字
 */
.shopText {
    font-size: 14px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    color: white;
    height: 100%;
    line-height: 35px;
    width: 87px;
    border-right: #e27a00 solid 1px;
    background: url("../img/icon/icon_shop_cart.png") 10px center no-repeat;
    text-indent: 40px;
}

/**
购物车  数量
 */
.shopNum {
    width: 27px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    color: white;
    height: 100%;
    border-left: #ff9c01 solid 1px;
    line-height: 35px;
    background: url("../img/icon/icon_shop_cart_more.png") 33px center no-repeat;
    text-align: right;
    padding-right: 29px;
}

/**
下导航
 */
.navBox {

    height: 35px;
    background-color: #1d7ad9;
    color: #FFFFFF;

}

/**
下导航 商品分类
 */
.shopClass {
    width: 190px;
    position: relative;
    /*??????????? 和下面那个 绝对定位为什么这么定位？*/

}

.shopClass h3 {
    text-align: center;
    line-height: 35px;
}

.shopClass i {
    width: 11px;
    height: 7px;
    overflow: hidden;
    background: url("../img/icon/icon_triangle_down.png") left center no-repeat;
    display: inline-block;
    margin-left: 11px;

}

.nav .shopClass h3 {
    font-family: "Microsoft YaHei UI", "微软雅黑";

}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    height: 35px;
    display: inline-block;
    padding: 0 25px;
    color: #FFFFFF;
}

.nav .active {
    background-color: #4593fd;

}

/* 商品弹出列表*/
.showClass_show {
    background-color: #4593fd;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
}

.shopClass_item .b {
    /*font-family: "Microsoft YaHei UI", "微软雅黑";*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    font: 14px/1 "Microsoft YaHei UI", "微软雅黑";
}

.shopClass_item {
    padding: 14px 10px;
    border-bottom: #3487f2 solid 1px;
    border-top: #5aa1fe solid 1px;
    border-bottom: #5aa1fe solid 1px;

}
.shopClass_item a:hover {
    text-decoration: underline;
}

.shopClass_item dt {
    height: 22px;
    background: url("../img/icon/icon_goods_type_more.png") right center no-repeat;
}

.shopClass_item dd {
    height: 22px;
}

.showClass_show a {
    color: #FFFFFF;

}

.shopClass_item .aLink {
    width: 48px;
    height: 20px;;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
    background: url("../img/icon/icon_phone_typeselect_circle.png") left center no-repeat;
}

/**
 .shopClass_item active 的状态
 */
.shopClass_item_active {
    background-color: white;
    margin-left: 1px;

}
.shopClass_item_active a {
    color: #000;
}
.shopClass_item_active .aLink {
    color: white;
    text-decoration: none;
}

.shopClass_item_active dt {
    background: none;
}
/**
弹出的菜单框
 */
.showClass_list {
    width: 568px;
    border: #cccccc solid 1px;
    position: absolute;
    left: 190px;
    top: 35px;

}

.showClass_list_padding {
    padding: 5px 10px;

}

.shopList_item {
    padding: 10px 0;
    border-bottom: #cccccc solid 1px;

}

.shopList_item dt {
    color: #4b87d9;
    font-weight: bold;
    height: 24px;;
    line-height: 24px;
}

.shopList_item dd {
    padding-left: 68px;
    margin-top: -24px;
    line-height: 24px;
}

.shopList_item dd a {
    margin-left: 12px;

}

.shopList_links {
    padding: 15px 0;


}
.shopList_links a {
    color: white;
    background-color: #2785e6;
    height: 26px;;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}
.shopList_links span {
    width: 11px;
    height: 7px;
    background: url("../img/icon/icon_goods_type_more.png") left center no-repeat;
    display: inline-block;
    margin-left: 7px;
}






























